:root{
    --primary-color: rgba(158, 8, 86, 0.8);
    --secondary-color: rgba(89, 3, 48, 0.8);
    --alternative-color: rgba(255, 255, 255, 0.8);
}

*{
    padding: 0;
    margin: 0;
}

.hidden{
    display: none;
}

body{
    background-color: var(--primary-color);
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   
}

/* Header Styles*/

header{
    background-color: var(--secondary-color);
}

header img {
    width: 250px;
    height: 150px;
}

/* Main Styles*/

main{
     max-width: 1440px;
        margin: 0 auto;
}

.main-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.cards-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--alternative-color);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 20px;
    padding: 20px;
    width: 300px;
}

.cards-container:hover{
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    transform: translateY(-5px);
    transition: all 0.3s ease;
}

.cards-container figure img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.cards-container figcaption {
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
    color: black;
}

.description{
    margin-top: 10px;
    font-size: 16px;
    color: black;
}

/* Dialog Styles*/

dialog{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--alternative-color);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    width: 300px;
}

.dialog-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.close-btn{
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: black;
}

.dialog-body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#dialogImage{
    width: 250px;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

#dialogDescription{
    font-size: 16px;
    color: black;
    text-align: center;
}

.dialog-footer{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
#pictureCounter{
    font-size: 16px;
    color: black;
}





/* Footer Styles*/

footer{
    display: flex;
    background-color: var(--secondary-color);
    justify-content: center;
    align-items: center;
}

footer img {
    width: 150px;
    height: 150px;
}